@model New_Tech.Models.Usuarios;

<form asp-action="Login" method="post" class="">

    <div class="">
        <label>Email:</label>
        <input type="email" name="email" required class="" />
    </div>

    <div class="">
        <label>Senha:</label>
        <input type="password" name="email" required class="" />
    </div>
    <input type="submit" class="" value="Login" />

</form>