@{
    ViewData["Title"] = "Home Page";
}
@*Não consegui utilizar o css de forma externa... mesmo colocando o ponto e a hashatag para id ou classe. Então usei o style para customizar. Vou tentar resolver em casa. Então para não ficar sem estilização, o elemento style no código para fazer o css. Em todas as páginas... algumas vezes funcionava o css e outras vezes ele ignorava*@
<link href="~/wwwroot/css/Home.css" rel="stylesheet" />
<body style="background:linear-gradient(to left top, #056300, #0a464f,#022b0f)">
<div class="text-center">
    <header>
            <video autoplay muted loop class="video" style="padding:10px; margin-bottom:40px;position: absolute;bottom:20px;width: 100%;object-fit: cover; z-index: -1; left:5px; height:85%">
            <source src="~/Video/videotec.mp4" type="video/mp4" />
        </video>
        <div class="titulo text-light">
            <h1>Seja bem vindo a Re:World</h1>
        </div>
        <a asp-actio"Index" asp-controller="Produto" class="btn btn-primary">Produto</a>

    </header>

</div>
</body>