@{
    ViewData["Title"] = "Home Page";
}
<link href="~/../../../área de trabalho/new_tech/wwwroot/css/home.css" rel="stylesheet" />

<div class="text-center">
    <header>
        <video autoplay muted loop class="video">
            <source src="~/../../../%c3%a1rea%20de%20trabalho/new_tech/wwwroot/video/videos.mp4" type="video/mp4" />
        </video>

        <div class="titulo">
            <h1>Seja bem vindo a New-Techs</h1>
        </div>
        <a asp-actio"Index" asp-controller="Produto">Produto</a>

    </header>

</div>
