@model New_Tech.Models.Produtos;

<h1>Editar Produto</h1>

<div>
    <div>
        <form asp-action="EditarProduto" method="post">
            @Html.AntiForgeryToken()
            <div>
                <input type="hidden" aps-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="">
                <label asp-for="Nome" class=""></label>
                <input asp-for="Nome" class="" />
                <span asp-validation-for="Nome" class=""></span>
            </div>


            <div class="">
                <label asp-for="Descricao" class=""></label>
                <input asp-for="Descricao" class="" />
                <span asp-validation-for="Descricao" class=""></span>
            </div>

            <div class="">
                <label asp-for="Preco" class=""></label>
                <input asp-for="Preco" class="" />
                <span asp-validation-for="Preco" class=""></span>
            </div>

            <div class="">
                <label asp-for="Quantidade" class=""></label>
                <input asp-for="Quantidade" class="" />
                <span asp-validation-for="Quantidade" class=""></span>
            </div>

            <div class="btn">
                <div class="form-group">
                    <input type="submit" value="Alterar" class="btn btn-primary" />
                </div>

                <div class="form-group">
                    <a asp-action="Index" class="btn btn-success">Voltar</a>
                </div>


        </form>
    </div>
</div>