* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 80%;
    object-fit: cover;
    z-index: -1;
}

.titulo {
    font-size: 1.2rem;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    color: black;
    font-weight: 700;
    text-decoration: underline;
}
