

.video {
    padding: 10px;
    margin-bottom: 40px;
    position: absolute;
    bottom: 20px;
    width: 99%;
    object-fit: cover;
    z-index: -1;
    left: 5px;
    height: 85%
}

.titulo {
    font-size: 1.2rem;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    color: black;
    font-weight: 700;
    text-decoration: underline;
}
